<div class="main-wrap">
	<input id="slide-sidebar" type="checkbox" role="button" />
        <label for="slide-sidebar"><span><img src="/assets/Dash icon.png" class="menudash" alt=""></span></label>
	<div class="sidebar">
		<!-- <div class="sidebartitlebox">
			
		</div> -->
		<div class="sidebarbody">
			<div class="sidebartitle">
				<h3>FIT</h3>
				<p>TRAINER</p>
			</div>
			<div class="sideimage">
				<img src="/assets/me.jpg" alt="">
				<p>Bobby Glaze</p>
			</div>
			<ul class="sidebarmenu">
				<li><a href="#">Create Class</a></li>
				<li><a href="#">My Classes</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Payment Info</a></li>
				<li><a href="#">Stats</a></li>
			</ul>
			<div class="sidefooter">
				<div class="sidefootercontent">
					<h3>FIT</h3>
	      			<p>&copy FIT app. All rights reserved</p>
	      		</div>
			</div>	
		</div>
		
	</div>

	<div class="trainerpages">
		<div class="trainerheader">
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">LOG OUT</a></li>
			</ul>
		</div>
		<div class="traintitle">
			<p>Payment Information</p>
		</div>
	</div>
	<div class="test">test</div>
</div>